p {
    text-align: center;
    color: gold;
    
}

h1 {
    text-align: center;
    color: goldenrod;
    font-family: 'Gill Sans',
        'Gill Sans MT',
        Calibri,
        'Trebuchet MS',
        sans-serif

}

img {
    width: 50%;
    left: 25%;
    position: relative;
    transform: rotate(180deg);
    border-radius: 5em;
    border-color: black;
    border-style: solid;  
}

.main-box {
    height: 100px;
    width: 100%;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    color: gold;
}

body {
    background-color: purple;
}

a {
    color: gold;
    text-align: center;
    font-family: 'Gill Sans',
        'Gill Sans MT',
        Calibri,
        'Trebuchet MS',
        sans-serif

}

h6 {
    color: gold;
    text-align: center;
    font-family: 'Gill Sans',
        'Gill Sans MT',
        Calibri,
        'Trebuchet MS',
        sans-serif
}